html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

 .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
} 
.dot {
  fill: rgb(31, 119, 180)
}
.dot:hover{
  fill:rgba(160, 99, 7, 0.8)
}
circle:hover{
  fill: rgba(160, 99, 7, 0.8)
}